/* General styles */
body {
  background-color: #eeeeee;
  color: #333;
}

/* Background Color Combinations */
.main-container.lefthand-open:before,
.left-hand-column,
.menu-logo,
.footer-logo,
.main-menu,
.main-body nav button,
button {
  background-color: #232d3f;
}

.header-logo,
.menu-burger,
.main-menu li.current-page p,
.main-menu li.current-page .menu-a,
.main-menu li span.menu-a:hover,
.main-menu li.current-page a,
.main-menu li a:hover,
li.menu-converters p,
.main-body nav button:hover,
.main-body nav button.selected-nav,
button:hover {
  background-color: #005b41;
}

.main-menu li span.menu-a,
.main-menu li a,
.main-body nav button,
button {
  color: #ffffff;
}

.get-started {
  color: #666;
}

button[disabled] {
  background-color: #ccc;
  color: #999;
}

.formatter-page,
.base64-encoder-page,
.get-started {
  background-color: #ffffff;
}

.main-menu li.current-page p,
li.menu-converters p {
  color: #b5c5cc;
}
