/* For larger screens */
@media (min-width: 1024px) {
  .left-hand-column .menu-content {
    transform: translateX(0);
    display: block;
  }
}

/* Larger phones */
@media (max-width: 767px) {
  .dark-overlay {
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
  }
  /* Mobile menu dark */
  .dark-overlay.menu-opened {
    position: absolute;
    background: rgb(0 0 0 / 80%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  section.left-hand-column.open {
    position: absolute;
    left: 0;
    z-index: 4;
  }

  .top-section {
    background-color: transparent;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }

  .main-body nav button {
    font-size: 13px;
    width: calc(50% - 10px);
  }
  .previewer-container,
  .previewer-left,
  .previewer-right {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }
}
