/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the overall background color to light blue */
body {
  background-color: #e6f7ff;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* General */
.text-center {
  text-align: center;
}

/* Header */
section.header-logo {
  margin: 20px 0;
}

section.header-logo img {
  display: inline-block;
  max-width: 140px;
  height: auto;
}

/* Style the navigation buttons */
.home-page {
  margin: 20px;
}

.home-page nav {
  margin-bottom: 20px;
}

.home-page nav button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
  font-size: 18px;
  font-weight: 600;
}

.home-page nav button:hover,
.home-page nav button.selected-nav {
  background-color: #0056b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Style the main content container */
div#formattersWindow {
  padding-bottom: 20px;
}

.formatter-page {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
  font-weight: 600;
  margin: 0 0 30px 0;
}

/* Style the input section */
textarea {
  height: 450px;
  width: 100%;
  padding: 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2fdff;
  resize: vertical;
  box-shadow: -1px 4px 19px -6px rgba(0, 0, 0, 0.13);
}

/* Style the format button */
button {
  padding: 10px 25px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
  color: #fff;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button[disabled] {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

/* Style the output section */
.output-section {
  margin-top: 50px;
}

/* Style the preformatted code container */
.output-content {
  padding: 15px;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-top: 15px;
  background: #fff;
  box-shadow: -1px 4px 19px -6px rgba(0, 0, 0, 0.13);
}

.output-content h2 {
  margin: 10px 0 20px 0;
  font-size: 21px;
  color: #027bff;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 400px;
  overflow: auto;
  font-size: 15px;
  color: #333;
}

/* Style the footer */
.copyrights {
  color: #a5bdd7;
  font-weight: 600;
}

.output-section.process-output {
  position: relative;
}

.output-section.process-output .pre-container {
  opacity: 0.4;
}
