/* General Styles */
.lorem-page-container {
  margin-top: 50px;
}

.lorem-page-container input {
  border: 1px solid #ccc;
}

.lorem-page-container input,
.lorem-page-container button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.lorem-page-container button:hover {
  background-color: #0056b3;
}

.lorem-page-container textarea {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Navigation Buttons */
.lorem-page-container nav {
  display: flex;
  gap: 5px;
}

.lorem-page-container nav button {
  background-color: #007bff;
}

.lorem-page-container .selected-nav {
  background-color: #0056b3;
}

/* Selected Button Style */

.lorem-input {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.lorem-count-input p {
  min-width: 140px;
  text-align: right;
}

.lorem-count-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lorem-input input[type="number"] {
  width: 70px;
  text-align: center;
  padding: 0;
  margin: 0;
  height: 40px;
}

.lorem-page-container nav button.lorem-generate {
  background-color: #fd4242;
  padding: 10px 50px;
}
.lorem-page-container nav button.lorem-generate:hover {
  background-color: #e93b3b;
}
.lorem-page-container nav button.lorem-generate:active {
  background-color: #fd4242;
}

@media (max-width: 767px) {
  .lorem-input,
  .lorem-page-container nav,
  .lorem-count-input {
    display: block;
  }

  .lorem-input input[type="number"] {
    width: calc(100% - 20px);
  }

  .lorem-page-container nav {
    text-align: center;
  }

  .lorem-page-container nav > button {
    width: calc(33% - 10px);
    font-size: 13px;
  }

  .lorem-page-container nav button.lorem-generate {
    width: calc(100% - 10px);
    padding: 14px;
    margin-top: 12px;
  }

  .lorem-count-input {
    margin-bottom: 20px;
    text-align: center;
  }

  .lorem-count-input > p {
    margin-bottom: 20px;
  }
}
