/* For larger screens */
@media (min-width: 1024px) {
  .left-hand-column .menu-content {
    transform: translateX(0);
    display: block;
  }

  .main-body nav {
    flex-direction: row-reverse;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-body nav {
    text-align: center;
    display: block;
  }
}

/* Larger phones */
@media (max-width: 767px) {
  .main-body nav {
    display: block;
  }
  .right-hand-column.menu-open {
    transform: translate(0, 0);
  }

  .main-container.lefthand-open:after {
    content: "";
    position: absolute;
    width: calc(100% - 250px);
    background: rgb(0 0 0 / 80%);
    top: 0;
    right: 0;
    bottom: 0;
  }

  section.left-hand-column.open {
    position: absolute;
    left: 0;
    z-index: 9;
  }

  .top-section {
    background-color: transparent;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }

  .main-body nav button {
    font-size: 13px;
    width: calc(50% - 10px);
  }
}

/* Smaller screens */
@media (max-width: 500px) {
  /* Content to be here */
}
