/* For larger screens */
@media (min-width: 1024px) {
  .left-hand-column .menu-content {
    transform: translateX(0);
    display: block;
  }

  .main-body nav {
    flex-direction: row-reverse;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    text-align: center;
  }
}

/* Larger phones */
@media (max-width: 767px) {
  .top-section {
    background-color: transparent;
    padding: 20px 0 0 0;
    margin-bottom: 20px;
  }

  section.right-hand-column.menu-open {
    min-width: 120%;
  }

  nav button {
    font-size: 12px;
    width: calc(50% - 10px);
  }
}

/* Smaller screens */
@media (max-width: 500px) {
  /* Content to be here */
}
